<!DOCTYPE html>
<html lang="en">
    <head>   
        <%- include ('partials/head', {style: 'productsDetailStyles' , title: 'Actividades' }) %>
    </head>
    <body>
        <%- include ('partials/header') %>
        <main>
            <% products.forEach( (product) => { %>
            <div class="productContainer">
                <div class="principalContainer">
                    <p class="activityTitle">
                        <%=product.name%>
                    </p>

                    <div class="productDescription">
                        <div class="boxImage">
                            <img class="slider-image" src="/images/products/<%=product.activity_images[0].name %>" alt="Trekking">
                        </div>
                        <p class="description">
                            <%=product.description%>
                        </p>
                    

                            <!-- <div class="activityDificulty">
                                <div class="barra">
                                    <div class="proceso" style="--w:40%">40%</div>
                                </div>
                            </div> -->

                        <div class="boxDetail">
                            <p class="detailInfo">Informacion Detallada</p>

                            <section class="boxInfo">

                                <div class="boxInfoLeft">
                                    <article>
                                        <i class="fa-solid fa-money-bill-wave"></i> 
                                        <span class="leftPrice">
                                            Precio: $<%=product.price%>
                                        </span>
                                    </article>
                                    <br>
                                    <article>
                                        <i class="fa-solid fa-dumbbell"></i>
                                        <span class="Dificulty">
                                            Nivel de dificultad: <%=product.dificulties.name%>
                                        </span>
                                    </article>
                                </div>

                                <div class="boxInfoRight">
                                    <article>
                                        <i class="fa-solid fa-play"></i>
                                        <span class="rightDateStart">
                                            La actividad inicia el: <%=product.dateStart%>
                                        </span>
                                    </article>
                                    <br>
                                    <article>
                                        <i class="fa-solid fa-stop"></i>
                                        <span class="rightDateFinish">
                                            La actividad termina el: <%=product.dateFinish%>
                                        </span>
                                    </article>
                                    </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </main>    
        <%- include ('partials/footer') %>
    </body>
</html>      