<!DOCTYPE html>
<html lang="en">
    <head>   
        <%- include ('partials/head', {style: 'productDetailStyles' , title: 'Detalle del producto' }) %>
    </head>
    <body>
        <%- include ('partials/header') %>
        <main>            
            <div class="productContainer">
                        <div class="principalContainer">
                            <p class="activityTitle">
                                <%=product.name%>
                            </p>
                            <div class="productDescription">
                                <div class="boxImage">
                                    <img class="slider-image" src="/images/products/<%=product.activity_images[0].name%>" alt="Trekking">
                                </div>
                                <p class="detailInfo">Informacion Detallada</p>
                                <p class="description">
                                    <%=product.description%>
                                </p>
                            </div>
                         

                            <div class="boxDetail">
                                <div class="barfull">""</div>

                                <section class="boxInfo">

                                    <div class="boxInfoLeft">
                                        <article>
                                            <i class="fa-solid fa-money-bill-wave"></i>
                                            <span class="leftPrice">
                                                Precio: $<%=product.price%>
                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-dumbbell"></i>
                                            <span class="Dificulty">
                                               Nivel de dificultad: <%=product.dificulties.name%>
                                            </span>
                                        </article>
                                    </div>

                                    <div class="boxInfoRight">
                                        <article>
                                            <i class="fa-solid fa-play"></i>
                                            <span class="rightDateStart">
                                                Inicio de la actividad: <br><%=product.dateStart%>
                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-stop"></i>
                                            <span class="rightDateFinish">
                                                Fin de la actividad: <br><%=product.dateFinish%>
                                            </span>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>                    
                </main>   
        <%- include ('partials/footer') %>
    </body>
</html>